/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
    padding: 15px;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* Custom styles */
.square-generator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 767px;
    margin: 0 auto;
    position: relative;
    padding-right: 260px;
}

.square {
    height: 50px;
    border: 1px solid black;
    flex: 2 calc(10% - 6px);
    margin: 3px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .1s box-shadow ease-in-out;
}

.square:hover {
    border-width: 2px;
}

.square:active {
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 1);
}

.manage-buttons {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 3px;
}

.manage-buttons > button {
    margin-right: 4px;
}

.manage-buttons > button:last-child {
    margin-right: 0;
}

@media screen and (max-width: 767px) {
    .manage-buttons > button {
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }

    .square-generator {
        padding-right: 122px;
    }

    .square {
        flex: 2 calc(25% - 6px);
    }
}

/* TODO: add scss and watchers for scss and html for automatic reload */